.sidebar {
  flex: 1;
  border-right: 1px solid rgb(230, 227, 227);
  margin: 0;
  padding: 0;

  .link {
    text-decoration: none;
  }

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-weight: 700;
      font-size: 1rem;
      color: #6439ff;
      margin-left: 10px;
    }

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }
}

.center {
  margin-left: 10px;

  .ul {
    margin: 0;
    padding: 0;
  }

  .title {
    font-size: 0.9rem;
    font-weight: 700;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #ece8ff;
    }

    .icon {
      margin-right: 10px;
      font-size: 0.95rem;
      color: #7451f8;
    }

    span {
      font-size: 0.95rem;
      font-weight: 600;
      color: #999;
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  margin: 10px;

  .colorOption {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 5px;
    margin-top: 73px;

    &:nth-child(1) {
      background-color: whitesmoke;
    }
    &:nth-child(2) {
      background-color: #333;
    }
    // &:nth-child(3) {
    //   background-color: darkblue;
    // }
  }
}
